
.progress.tall {
    margin-bottom: 0;
    height: 2rem;
}
.rollWarning, .skillRollWarning {
    display: none;
}
.virtueButton, .viceButton {
    cursor: pointer;
    min-width: 125px;
    padding: 0 0.5rem;
}
.virtueButton i, .viceButton i {
    margin-right: .4rem;
}
#virtueBars i.fi-eye, #virtueBars i.fi-book-bookmark {
    display:none;
}
.bonusColor {
    color: #157539;
}
h1, h2, h3, h4, h5 {
    font-family: 'Aladin', cursive;
}
#statsWrapper .stat label:first-child {
    background: #f7e4e1;
}
#subStatsWrapper .stat label:first-child {
    background: #eaeaea;
}
#statsWrapper .stat, #subStatsWrapper .stat {
    border: 1px solid #e6e6e6;
}
#statsWrapper .stat input {
    margin-bottom:0;
}
.bordered {
    border: 1px solid #cacaca;
}
#skillWrapper {
    font-size: 0.8em;
}
#skillWrapper input {
    width: 50%;
}
#skillWrapper .input-group-label {
    width: 50%;
    text-align: right;
}
#skillWrapper .knightSkill .input-group-label {
    color: #ff0000;
}
#skillWrapper .knightSkill.valueMet .input-group-label {
    color: #000000;
}
.chivalrousTotal {
    background-color: #e1faea;
}
.failed {
    font-weight: bold;
    color: #ff0000;
}
.passed {
    color: green;
    font-weight: bold;
}
#distinctiveFeaturesList li {
    text-transform: capitalize;
}
#heraldry .or {
    background: #FFE400;
}
#heraldry .argent {
    background: #FFFFFF;
}
#heraldry .azure {
    background: #0000ff;
}
#heraldry .gules {
    background: #ff0000;
}
#heraldry .purpure {
    background: #B22585;
}
#heraldry .sable {
    background: #000000;
}
#heraldry .vert {
    background: #009200;
}
#heraldry #heraldWrapper {
    position:relative;
    height: 250px;
    width: 250px;
}
#heraldry #heraldChargeWrapper {
    position:absolute;
    top:0;
    right:0;
    height: 250px;
    width: 250px;
    background: no-repeat 50% 42%;
    background-size: auto 100px;
}
#color-one {
    height: 250px;
    width: 250px;
}
#heraldry img.shieldBorder {
    max-width: 100%;
    height: auto;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
#heraldry #color-two {
    height: 250px;
    width: 250px;
}
#heraldry .perPale #color-two {
    width: 125px;
    height: 250px;
}
#heraldry .perFess #color-two {
    width: 250px;
    height: 125px;
} /*perBend */
#heraldry .perBend #color-two {
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 10% 0, 100% 100%);
}
#heraldry .perChevron #color-two {
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
}
#heraldry .aBend #color-two {
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(0 0, 35% 0, 100% 65%, 100% 100%, 85% 100%, 0% 15%);
    clip-path: polygon(0 0, 35% 0, 100% 65%, 100% 100%, 85% 100%, 0% 15%);
}
#heraldry .mullet #color-two {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 25px 50px 0;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
#heraldry .perSaltive #color-two {
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(90% 0, 10% 0, 100% 100%, 0% 100%);
    clip-path: polygon(90% 0, 10% 0, 100% 100%, 0% 100%);
}
#heraldry .quarterly #color-two {
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 100%, 50% 100%, 50% 0, 0 0);
    clip-path: polygon(0 45%, 100% 45%, 100% 100%, 50% 100%, 50% 0, 0 0);
}
#heraldry .aFess #color-two {
    height: 90px;
    width:250px;
    margin-top: 70px;
    position: absolute;
}
#heraldry .aPale #color-two {
    width: 90px;
    height:250px;
    margin: auto;
}
#heraldry .aChief #color-two {
    height: 80px;
    width:250px;
    position: absolute;
}
#heraldry .paly #color-two {
    height: 250px;
    width: 250px;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 23% 100%, 23% 0%, 36% 0%, 36% 100%, 50% 100%, 50% 0%, 63% 0%, 63% 100%, 78% 100%, 78% 0);
    clip-path: polygon(0% 0%, 0% 100%, 23% 100%, 23% 0%, 36% 0%, 36% 100%, 50% 100%, 50% 0%, 63% 0%, 63% 100%, 78% 100%, 78% 0);
}
#heraldry .barry #color-two {
    height: 250px;
    width: 250px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 17%, 0% 17%, 0% 33%, 100% 33%, 100% 50%, 0% 50%, 0% 66%, 100% 66%, 100% 84%, 0% 84%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 17%, 0% 17%, 0% 33%, 100% 33%, 100% 50%, 0% 50%, 0% 66%, 100% 66%, 100% 84%, 0% 84%);
}
#timeline .family {
    font-weight: bold;
}
/*tree test styles*/
.treewrap {
    overflow-x: scroll;
}
.tree {
min-width: 3000px;
}
.tree ul {
padding-top: 20px;
position: relative;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.tree li {
float: left;
text-align: center;
list-style-type: none;
position: relative;
padding: 20px 5px 0 5px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after {
content: '';
position: absolute;
top: 0;
right: 50%;
border-top: 1px solid #ccc;
width: 50%;
height: 20px;
}
.tree li::after {
right: auto;
left: 50%;
border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child {
padding-top: 0;
}
/*Remove left connector from first child and right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
border-right: 1px solid #ccc;
border-radius: 0 5px 0 0;
-webkit-border-radius: 0 5px 0 0;
-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
border-radius: 5px 0 0 0;
-webkit-border-radius: 5px 0 0 0;
-moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul::before {
content: '';
position: absolute;
top: 0;
left: 50%;
border-left: 1px solid #ccc;
width: 0;
height: 20px;
}
.tree li div {
border: 1px solid #ccc;
padding: 3px 8px;
text-decoration: none;
color: #666;
font-family: arial, verdana, tahoma;
font-size: 11px;
display: inline-block;
min-width: 80px;
min-height: 30px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}

.tree li div .male, .key .male {
background-color:lightblue;
display: inline-block;
width:120px;
padding:10px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: solid 2px white;
}
.tree li div .male.bastard, .key .male.bastard {
    background-color: lightgray;
}
.tree li div .male.step {
    background-color: lightgreen;
}
.tree li div .knight, .key .knight {
    border: solid 2px goldenrod;
}
.tree li div .female, .key .female {
background-color:lightpink;
display: inline-block;
width:100px;
padding:10px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: solid 2px white;
}
.key span {
    text-align: center;
    font-size: 11px;
    width: 60px !important;
}
.tree li div .spacer {
background-color:lightblue;
display: inline-block;
width:10px;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li div:hover, .tree li div:hover + ul li div {
background: #c8e4f8;
color: #000;
border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li div:hover + ul li::after,
.tree li div:hover + ul li::before,
.tree li div:hover + ul::before,
.tree li div:hover + ul ul::before {
border-color: #94a0b4;
}
#buttonWrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}
.mothertree, .firstgen {
    display: none;
}
.overlay {
    width: 100%;
    height: 300%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.highlighted {
    z-index: 1000;
    position:relative;
}
.pendragonTooltip {
    max-width: 100%;
    width: 100%;
    top: 0;
    display: none;
}
.highlighted .pendragonTooltip {
    display:block;
}
.pendragonTooltip.right {
    left: 100%;
}
.pendragonTooltip.left {
    right: 100%;
}
.pendragonTooltip table {
    color: #000;
}
.pendragonTooltip table td {
    width : 50%;
}
.pendragonTooltip table input[type="checkbox"] {
    margin:0;
}
.skillstep-2, #traitRaiseWrapper, #statRaiseWrapper, .button.AgeKnight {
    display:none;
}